.message-container{
    display:flex;
    margin: 10px 0;
}

.message-container.user{
    
    justify-content:flex-end;
    text-align: right;
}
.message-container.user .message-box{
    background-color: #f1f1f1;
    color: black;
    text-align: right;
    border-radius: 10px 10px 0 10px;
    padding: 10px;
}
.message-container.bot{
  display: flex;
  align-items: center;
    justify-content:flex-start;
    text-align: left;
}

.message-container.bot .message-box {
    background-color: #f1f1f1;
    color: black;
    text-align: left;
    border-radius: 10px 10px 10px 0;
    padding: 10px;
  }

 .chatbot-response-icon{
  width: 24px; /* Adjust size of the icon */
  height: 24px; /* Adjust size of the icon */
  object-fit: cover; /* Maintain the aspect ratio */
  margin-right: 10px; /* Space between the icon and message */
  align-self: center; /* Vertically align the icon with the message */
  font-size:10px;
}

  .message-box {
    padding: 10px;
    max-width: 60%;
    border-radius: 10px;
    word-wrap: break-word;
  }